@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background: #eef1f4;
}

.container {
  max-width: 1440px;
}

.dark-mode {
  background-color: #333;
}

.dark-mode #lay1s .medialayout {
  background-color: #424242;
}

.dark-mode #lay1s .medialayout p {
  color: #fff;
}

.dark-mode #lay1s .medialayout h4 {
  color: #fff;
}

.dark-mode .seperator {
  border: 1px solid #999;
}

.dark-mode .navbar {
  background-color: white;
}

.dark-mode .navbar a {
  color: #999;
}

.dark-mode .navbar h3 {
  color: #999;
}

.dark-mode .flip-card-front {
  background-color: #424242;
  color: #fff;
  padding: 40px;
}

.dark-mode .flip-card-back {
  background-color: white;
  color: #999;
}

.dark-mode .flip-card-back p {
  border: 1px solid #333;
  line-height: 1.5;
}

.dark-mode .sidenav {
  background-color: #424242;
}

.dark-mode .sidenav a {
  color: #fff;
}

.dark-mode .sidenav a.tab {
  color: #fff;
  opacity: 0.7;
}

.dark-mode .page .cards {
  background-color: #424242;
}

.dark-mode .page .cards h4 {
  color: #fff;
  font-weight: 400;
}

.dark-mode .page .cards p {
  color: #fff;
  opacity: 0.7;
}

.dark-mode .page-m .cards-m {
  border: #999 1px solid;
  border-radius: 6px;
}

.dark-mode .page-l .cards-l {
  border: #999 1px solid;
  border-radius: 6px;
}

.dark-mode .page-xl .cards-xl {
  border: #999 1px solid;
  border-radius: 6px;
}

.dark-mode button {
  background-color: white;
  color: #333;
}

/* Style the navigation bar */
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #999;
  overflow: auto;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  z-index: 10;
}

.box {
  display: flex;
  width: 400px;
  margin-left: 4rem;
  justify-content: flex-start;
}

.box2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 0 12px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  margin-right: 2rem;
}

.navbar h3 {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 0 5rem;
  text-transform: uppercase;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #999;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 5px;
  left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  font-size: 22px;
}

#menu li.tab {
  font-size: 16px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
  position: fixed;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.sidenav {
  height: 100vh;
  width: 160px;
  position: fixed;
  top: 45px;
  background-color: #dddddd;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
}

.sidenav a.tab {
  text-decoration: none;
  font-size: 14px;
  color: #555;
  text-align: left;
  padding-left: 5rem;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.flip-card {
  background-color: transparent;
  width: 329px;
  height: 200px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  margin: 12px;
  align-items: center;
}

.flip-card img {
  width: 54px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: #999;
  padding: 40px;
}

.flip-card-front h4 {
  padding-top: 20px;
}

/* Style the back side */
.flip-card-back {
  background-color: #424242;
  color: white;
  transform: rotateY(180deg);
  padding: 10px;
}

.flip-card-back p {
  border: 1px solid white;
  border-radius: 2px;
  padding: 18px;
  font-size: 15px;
  line-height: 1.5;
}

button {
  background-color: #999;
  color: #333;
  padding: 0 30px;
  border: none;
}

.page {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 1rem;
}

.page .cards {
  display: flex;
  flex-direction: column;
  max-width: 329px;
  height: auto;
  background-color: white;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 12px;
  padding: 20px;
  cursor: pointer;
}

.page .cards-style1 {
  border-top: 3px solid #1b6ca8;
  border-top-right-radius: 15px;
}

.page .cards-style2 {
  border-top: 3px solid goldenrod;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.page .cards-style3 {
  border-top: 3px solid #5fdde5;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.page .cards-style4 {
  border-top: 3px solid #5c2a9d;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.page .cards:hover {
  transform: translateY(0) scale(1.002) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px rgba(236, 100, 100, 0.11);
}

.page .cards h4 {
  font-weight: 700;
  font-size: 15px;
  padding: 10px 0px;
  color: #666;
}

.page .cards p {
  font-size: 15px;
  padding-bottom: 20px;
  color: #4d4d4d;
  line-height: 1.5;
}

.page img {
  width: 54px;
}

.media img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

#lay1s .medialayout {
  display: flex;
  flex-direction: column;
  max-width: 329px;
  height: auto;
  background-color: white;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 12px;
  cursor: pointer;
}

.medialayout:hover {
  transform: translateY(0) scale(1.05) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px rgba(236, 100, 100, 0.11);
}

#myVideo {
  width: 329px;
}

#lay1s .m-content {
  padding: 20px;
}

#lay1s .m-content h4 {
  font-weight: 700;
  font-size: 15px;
  padding: 10px 0px;
  color: #666;
}

#lay1s .m-content p {
  font-size: 15px;
  padding-bottom: 20px;
  color: #4d4d4d;
  line-height: 1.5;
}

#lay3s img {
  padding-top: 1rem;
}

#lay3s p {
  padding-top: 1rem;
}

#lay1s .layout2 {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

#lay1s .layout2 img {
  margin: 5px 5px;
}

.py1 {
  padding-top: 5px;
}

.py2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-m {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-top: 50rem;
}

.page-m .cards-m {
  display: grid;
  grid-gap: 1rem;
  max-width: 500px;
  height: auto;
  background-color: white;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 25px;
}

.page-m .cards-m h4 {
  font-size: 20px;
  color: #666;
}

.page-m .cards-m p {
  font-size: 18px;
  color: #4d4d4d;
}

.page-m img {
  width: 74px;
}

.page-l {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-top: 50rem;
}

.page-l .cards-l {
  display: grid;
  grid-gap: 2rem;
  max-width: 720px;
  height: auto;
  background-color: white;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 30px;
}

.page-l .cards-l h4 {
  font-size: 26px;
  color: #666;
}

.page-l .cards-l p {
  font-size: 22px;
  color: #4d4d4d;
}

.page-l img {
  width: 94px;
}

.page-xl {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-top: 50rem;
}

.page-xl .cards-xl {
  display: grid;
  grid-gap: 2.5rem;
  width: 1020px;
  height: auto;
  background-color: white;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 35px;
}

.page-xl .cards-xl h4 {
  font-size: 36px;
  color: #666;
}

.page-xl .cards-xl p {
  font-size: 30px;
  color: #4d4d4d;
}

.page-xl .cards-xl img {
  width: 134px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media only screen and (max-width: 768px) {
  .box span,
  .box2 span {
    display: none;
    width: auto;
  }
}

@media only screen and (max-width: 550px) {
  .box span,
  .box2 span {
    display: none;
    width: auto;
  }
}

@media only screen and (max-width: 400px) {
  #lay1s .cards {
    width: 100%;
  }
  .box span,
  .box2 span {
    display: none;
    width: auto;
  }
  i {
    font-size: 30px;
  }
}

@media only screen and (max-width: 375px) {
  #lay1s .cards {
    width: auto;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container .card {
  position: relative;
  cursor: pointer;
  padding-top: 10rem;
  margin-left: 1.8rem;
}

.container .card .face {
  width: 329px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: steelblue;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 100px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #343234;
  padding: 5px;
  border: 1px solid #343234;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */